<?xml version="1.0"?>
  <model>
    <name>reflex_takktle_2</name>
    <version>1.0</version>
    <sdf>urdf/reflex_takktle_2.urdf</sdf>
    <author>
      <name>Jonathan Burkhard</name>
      <email>jonathanburkhard@gmail.com</email>
    </author>
    <description>
      A description of the model
      Model from the robotic hand created by Righthand Reflex Takktle 2
    </description>
  </model>