<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="reflex_takktile_2"/>
    <arg name="namespace" default="$(arg robot_name)"/>
    <arg name="model" default="takktile_2" />
    <arg name="model_path" default="$(find reflex_description)/urdf/$(arg robot_name).xacro"/>

    <!-- Launch the robot reflex_takktle_2 into Gazebo -->
    <!-- Convert xacro and put on parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model_path)' robot_name:=iiwa" />

    <!-- Spawn controllers - it uses a JointController -->
    <include file="$(find reflex_control)/launch/reflex_control.launch">
        <arg name="controllers" default="joint_state_controller preshape_1_position_controller 
            preshape_2_position_controller 
            proximal_joint_1_position_controller
            proximal_joint_2_position_controller 
            proximal_joint_3_position_controller
            distal_joint_1_position_controller
            distal_joint_2_position_controller
            distal_joint_3_position_controller"/>
        <arg name="robot_name" default="$(arg robot_name)" />
        <arg name="model" default="$(arg model)" />
        <arg name="namespace" default="$(arg namespace)"/>
    </include>

</launch>
