<?xml version="1.0"?>
<launch>
    <!-- <arg name="robot_name" default="robot_test"/> -->
    <!-- <arg name="robot_name" default="full_reflex_model.urdf"/> -->
    <arg name="robot_name" default="reflex_takktile_2"/>
    <arg name="namespace" default="$(arg robot_name)"/>
    <arg name="model" default="takktile_2" />
    <arg name="model_path" default="$(find reflex_description)/urdf/$(arg robot_name).xacro"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="roll" default="0.00"/>
    <arg name="pitch" default="0.00"/>
    <arg name="yaw" default="0"/>

    <!-- GAZEBO PARAMS -->
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    
    <!-- Launch the world -->
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find reflex_gazebo)/worlds/reflex.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)" />
    <!-- more default parameters can be changed here -->
    </include>

    <!-- Spawn controllers - it uses a JointController -->
        <include file="$(find reflex_control)/launch/reflex_control.launch">
            <arg name="controllers" default="joint_state_controller preshape_1_position_controller 
                preshape_2_position_controller 
                proximal_joint_1_position_controller
                proximal_joint_2_position_controller 
                proximal_joint_3_position_controller"/>
            <arg name="robot_name" default="$(arg robot_name)" />
            <arg name="model" default="$(arg model)" />
            <arg name="namespace" default="$(arg namespace)"/>
        </include>

    <!-- Launch the robot reflex_takktle_2 into Gazebo -->
    <!-- Convert xacro and put on parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model_path)'" />
    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="
            -param robot_description 
            -urdf 
            -model $(arg namespace)
            -x $(arg x) 
            -y $(arg y) 
            -z $(arg z)
            -R $(arg roll)
            -P $(arg pitch)
            -Y $(arg yaw)"             
            respawn="false" output="screen">
    </node>

</launch>