<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Incudes -->
  <!-- <xacro:include filename="$(find reflex_description)/urdf/reflex_takktile_2.xacro" /> -->
  <!-- <xacro:include filename="$(find reflex_description)/urdf/reflex.gazebo.xacro" /> -->
  <!-- <xacro:include filename="$(find reflex_description)/materials/reflex.materials.xacro" /> -->

<!-- Transmission -->
<!-- Preshape -->
  <transmission name="preshape_1_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="preshape_1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="preshape_1_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>






