<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Incudes -->
  <!-- <xacro:include filename="$(find reflex_description)/urdf/reflex_takktile_2.xacro" />
  <xacro:include filename="$(find reflex_description)/urdf/reflex.transmission.xacro" /> -->
  
<!-- Load Gazebo lib and set the robot namespace -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>reflex_takktile_2</robotNamespace>
      <robotParam>/robot_description</robotParam>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <!-- Proximal  -->
  <!-- 5 sensors on the proximal -->
  <!-- <gazebo reference="proximal_1_sensor_1">
    <sensor name='proximal_1_contact_sensor_1' type='contact'>
      <plugin name="proximal_1_contact_sensor_1_plugin" filename="libcontact.so"/>
          <contact>
            <collision>proximal_1_sensor_1_collision</collision>
          </contact>        
      <update_rate>30</update_rate>
    </sensor>
  </gazebo> -->

  <xacro:macro name="proximal_sensor_gazebo_macro" params="finger_number sensor_number">
    <gazebo reference="proximal_${finger_number}_sensor_${sensor_number}">
      <sensor name='proximal_${finger_number}_sensor_${sensor_number}_contact_sensor' type='contact'>
        <plugin name="proximal_${finger_number}_sensor_${sensor_number}_contact_sensor_plugin" filename="libcontact.so"/>
            <contact>
              <collision>proximal_${finger_number}_sensor_${sensor_number}_collision</collision>
            </contact>        
        <update_rate>30</update_rate>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:proximal_sensor_gazebo_macro finger_number="1" sensor_number="1"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="1" sensor_number="2"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="1" sensor_number="3"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="1" sensor_number="4"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="1" sensor_number="5"/>

  <xacro:proximal_sensor_gazebo_macro finger_number="2" sensor_number="1"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="2" sensor_number="2"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="2" sensor_number="3"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="2" sensor_number="4"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="2" sensor_number="5"/>

  <xacro:proximal_sensor_gazebo_macro finger_number="3" sensor_number="1"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="3" sensor_number="2"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="3" sensor_number="3"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="3" sensor_number="4"/>
  <xacro:proximal_sensor_gazebo_macro finger_number="3" sensor_number="5"/>

  <!-- Distal -->
  <!-- 4 sensors on the distal -->
  <!-- <gazebo reference="distal_1_sensor_1">
    <sensor name='distal_1_contact_sensor_1' type='contact'>
      <plugin name="distal_1_contact_sensor_1_plugin" filename="libcontact.so"/>
          <contact>
            <collision>distal_1_sensor_1_collision</collision>
          </contact>        
      <update_rate>30</update_rate>
    </sensor>
  </gazebo> -->

  <xacro:macro name="distal_sensor_gazebo_macro" params="finger_number sensor_number">
    <gazebo reference="distal_${finger_number}_sensor_${sensor_number}">
      <sensor name='distal_${finger_number}_sensor_${sensor_number}_contact_sensor' type='contact'>
        <plugin name="distal_${finger_number}_sensor_${sensor_number}_contact_sensor_plugin" filename="libcontact.so"/>
            <contact>
              <collision>distal_${finger_number}_sensor_${sensor_number}_collision</collision>
            </contact>        
        <update_rate>30</update_rate>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:distal_sensor_gazebo_macro finger_number="1" sensor_number="1"/>
  <xacro:distal_sensor_gazebo_macro finger_number="1" sensor_number="2"/>
  <xacro:distal_sensor_gazebo_macro finger_number="1" sensor_number="3"/>
  <xacro:distal_sensor_gazebo_macro finger_number="1" sensor_number="4"/>

  <xacro:distal_sensor_gazebo_macro finger_number="2" sensor_number="1"/>
  <xacro:distal_sensor_gazebo_macro finger_number="2" sensor_number="2"/>
  <xacro:distal_sensor_gazebo_macro finger_number="2" sensor_number="3"/>
  <xacro:distal_sensor_gazebo_macro finger_number="2" sensor_number="4"/>

  <xacro:distal_sensor_gazebo_macro finger_number="3" sensor_number="1"/>
  <xacro:distal_sensor_gazebo_macro finger_number="3" sensor_number="2"/>
  <xacro:distal_sensor_gazebo_macro finger_number="3" sensor_number="3"/>
  <xacro:distal_sensor_gazebo_macro finger_number="3" sensor_number="4"/>

  <gazebo reference="$distal_pad_1">
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <maxVel>1.0</maxVel>
			<!-- <maxContacts>1</maxContacts> -->
  </gazebo>
  <gazebo reference="$distal_pad_2">
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <maxVel>1.0</maxVel>
			<!-- <maxContacts>1</maxContacts> -->
  </gazebo>
  <gazebo reference="$distal_pad_3">
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <maxVel>1.0</maxVel>
			<!-- <maxContacts>1</maxContacts> -->
  </gazebo>

  <gazebo>
   <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
        <arm>
          <arm_name>arm_name_default_john</arm_name>
          <palm_link>iiwa_link_7</palm_link>
          <gripper_link>distal_1</gripper_link>
          <gripper_link>distal_2</gripper_link>
          <gripper_link>distal_3</gripper_link>
          <gripper_link>proximal_1</gripper_link>
          <gripper_link>proximal_2</gripper_link>
          <gripper_link>proximal_3</gripper_link>
          <gripper_link>proximal_1_sensor_1</gripper_link>
          <gripper_link>proximal_1_sensor_2</gripper_link>
          <gripper_link>proximal_1_sensor_3</gripper_link>
          <gripper_link>proximal_1_sensor_4</gripper_link>
          <gripper_link>proximal_1_sensor_5</gripper_link>
          <gripper_link>proximal_2_sensor_1</gripper_link>
          <gripper_link>proximal_2_sensor_2</gripper_link>
          <gripper_link>proximal_2_sensor_3</gripper_link>
          <gripper_link>proximal_2_sensor_4</gripper_link>
          <gripper_link>proximal_2_sensor_5</gripper_link>
          <gripper_link>proximal_3_sensor_1</gripper_link>
          <gripper_link>proximal_3_sensor_2</gripper_link>
          <gripper_link>proximal_3_sensor_3</gripper_link>
          <gripper_link>proximal_3_sensor_4</gripper_link>
          <gripper_link>proximal_3_sensor_5</gripper_link>
          <gripper_link>distal_1_sensor_1</gripper_link>
          <gripper_link>distal_1_sensor_2</gripper_link>
          <gripper_link>distal_1_sensor_3</gripper_link>
          <gripper_link>distal_1_sensor_4</gripper_link>
          <gripper_link>distal_2_sensor_1</gripper_link>
          <gripper_link>distal_2_sensor_2</gripper_link>
          <gripper_link>distal_2_sensor_3</gripper_link>
          <gripper_link>distal_2_sensor_4</gripper_link> 
          <gripper_link>distal_3_sensor_1</gripper_link>
          <gripper_link>distal_3_sensor_2</gripper_link>
          <gripper_link>distal_3_sensor_3</gripper_link>
          <gripper_link>distal_3_sensor_4</gripper_link>           
        </arm>
      <forces_angle_tolerance>90</forces_angle_tolerance>
      <update_rate>100</update_rate>
      <grip_count_threshold>3</grip_count_threshold>
      <max_grip_count>20</max_grip_count>
      <release_tolerance>0.09</release_tolerance>
      <disable_collisions_on_attach>false</disable_collisions_on_attach>
      <contact_topic>__default_topic__</contact_topic>
    </plugin>
  </gazebo>

</robot>