<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Incudes -->
  <!-- <xacro:include filename="$(find reflex_description)/urdf/reflex.transmission.xacro" /> -->
  <!-- <xacro:include filename="$(find reflex_description)/urdf/reflex.gazebo.xacro" /> -->
  <!-- <xacro:include filename="$(find reflex_description)/urdf/reflex_takktile_2.xacro" /> -->

  <!-- materials -->
  <gazebo reference="base_link">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="pad">
    <material>Gazebo/Green</material>
  </gazebo>
  <gazebo reference="swivel_1">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="swivel_2">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="swivel_3">
    <material>Gazebo/Black</material>
  </gazebo>
  <gazebo reference="distal_1">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="distal_2">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="distal_3">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="distal_pad_1">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="distal_pad_2">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="distal_pad_3">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="proximal_1">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="proximal_2">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="proximal_3">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="proximal_pad_1">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="proximal_pad_2">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="proximal_pad_3">
    <material>Gazebo/FlatBlack</material>
  </gazebo>
  <gazebo reference="flex_link_1">
    <material>Gazebo/YellowTransparent</material>
  </gazebo>
  <gazebo reference="flex_link_2">
    <material>Gazebo/YellowTransparent</material>
  </gazebo>
  <gazebo reference="flex_link_3">
    <material>Gazebo/YellowTransparent</material>
  </gazebo>
  
</robot>